@import "../../utils/colors.module.scss";

.section_header {
    margin: unset;
    padding: 10px;
    color: $primary;
    font-weight: 600;
}

.basic_info {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    & div {
        margin-left: 10px;

        & h1,
        h5 {
            margin: unset;
        }
    }
}

.item_group {
    margin: 10px;
    display: flex;
    font-size: 14px;

    .item_label {
        margin: unset;
        margin-right: 10px;
        font-weight: 600;
    }

    .item_value {
        margin: unset;
    }
}